html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.min.js')
  body
    .main.container
      .row
        h1.text-center FCC TimeStamp MicroService
      br
      br
      .row
        .col-sm-12
          .panel.panel-default
            .panel-body
              ul
                li Pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
                br
                li If it does, it returns both the Unix timestamp and the natural language form of that date.
                br
                li If it does not contain a date or Unix timestamp, it returns null for those properties.
      br
      .row
        .col-sm-12
          .panel.panel-primary
            .panel-heading.text-center Time of this request
      
        .col-sm-6
          .panel.panel-primary 
            .panel-heading
              h3.panel-title Natural: 
            .panel-body= natural
        .col-sm-6  
          .panel.panel-primary
            .panel-heading  
              h3.panel-title Unix: 
            .panel-body= unix
      br
      .row
        .col-sm-12
          .panel.panel-primary
            .panel-heading
              h3.panel-title Example Usage:
            .panel-body
              p Request:
              pre
                code https://zalias-time-server.herokuapp.com/December%2015,%202015
                br
                br
                code //OR
                br
                br
                code https://zalias-time-server.herokuapp.com/1450137600
              p Response:
              pre
                code { "unix":1450137600,"natural":"December 15, 2015" }